//Nullstyle
@import "./nullstyle.scss";

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
	height: 100%;
}

body {
	height: 100%;
	padding-bottom: 160px;
	font-family: "Lato";
	color: #848789;
	line-height: 2.1em;

	@media (max-width: 579px) {
		line-height: 1.9em;
	}

	@media (max-width: 579px) {
		line-height: 1.7em;
	}

	@media (max-width: 379px) {
		font-size: 0.9375rem;
	}
}

.lock {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;

	&__main {
		flex: 1 1 auto;
	}

	&__footer {
		flex-shrink: 0;
	}
}

//BEM blocks
@import "./fsc.scss";
@import "./fullscreen.scss";
@import "./title.scss";
@import "./generation.scss";
@import "./vintage.scss";
@import "./company.scss";
@import "./text-content.scss";
@import "./retro.scss";
@import "./shop.scss";
@import "./discover.scss";
@import "./btn.scss";
@import "./email-form.scss";
@import "./contact.scss";
@import "./logo.scss";
@import "./footer.scss";
@import "./icons.scss";
@import "./nav.scss";
@import "./burger.scss";
@import "./header.scss";
@import "./slider.scss";
@import "./posts.scss";