.title {
	text-align: center;

	&_time {
		.title__icon {
			margin-bottom: 18px;

			@media (max-width: 449px) {
				margin-bottom: 10px;
			}
	
			@media (max-width: 379px) {
				margin-bottom: 8px;
			}
		}

		.title__text {
			text-transform: none;
			letter-spacing: 0.1em;
		}
	}

	&__icon {
		margin-bottom: 15px;

		@media (max-width: 449px) {
			margin-bottom: 8px;
		}

		@media (max-width: 379px) {
			margin-bottom: 5px;
		}
	}
	
	&__img {
	}
	
	&__text {
		color: #353538;
		font-size: 1.125rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.2em;

		@media (max-width: 579px) {
			letter-spacing: 0.15em;
		}

		@media (max-width: 449px) {
			font-size: 1rem;
			letter-spacing: 0.1em;
		}

		@media (max-width: 379px) {
			font-size: 0.9375rem;
			letter-spacing: 0.05em;
		}
	}

	&__time {
		padding-left: 5px;
		font-weight: 300;
		color: #848789;
	}
}